.profile {
  display: flex;
  text-align: left;
  align-items: center;
  border: none;
  gap: 0.25rem;
}

.profileList {
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: white;
  width: 10rem;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

.profileButton {
  background-color: wheat;
  cursor: pointer;
  padding: 2rem 0;
}

.profileThumbnail {
  height: 50px;
  width: 50px;
}
