.searchBar {
  width: 20rem;
  height: 2rem;
  border-radius: 2rem;
  text-indent: 1rem;
  background-color: #F2F2F2;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
