.title {
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem;
}

.modeSelector {
  display: flex;
  justify-content: center;
  margin-bottom: 0.25rem;
}

.profileRecommendations {
  margin-top: 8rem;
}
