.downloadLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #612ee2;
  text-decoration: none;
}

.downloadIcon path {
  stroke: #612ee2;
  fill: #612ee2;
}

.semiboldlFont {
  font-weight: 500;
}

.largeFont {
  font-size: 1.125rem;
  font-weight: 700;
}
