.coursesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.externalLink {
  text-decoration: none;
  color: unset;
}
